<div>
  <div class="toolbar">
    <h1>CashFlower</h1>
  </div>

  <%= render :file => "/devise/sessions/new" %>
</div>

<div id="about">
  <div class="toolbar">
    <h1>About</h1>
    <a class="back" href="#">Back</a>
  </div>

  <ul>
    <li>CashFlower is a very tiny and a lightweight budget manager.<br /><br />No extra complex features, just income/outcome history and full offline support.<br /><br /> Just give it a chance!</li>
  </ul>
</div>
